*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: #022c38;
}

.info{
    box-sizing: content-box;
    background-color: midnightblue;
    position: absolute;
    left: 27%;
    height: 50%;
    width: 45%;
}

.info:hover{
    background-color: dodgerblue;
    border-color: white;
    border-width: medium;
}

header{
    font-size: 20px;
    text-align: center;
    letter-spacing: 10px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.nameNroll:hover{
    background-color: darkviolet;
}

.nameNroll{
    font-size: 15px;
    text-align: left;
    background-color:  forestgreen;
    position:absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 42%;
}

h2{
    padding: 40px 0px 9px 45px;
}

img {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
    height: 90%;
    right: 5%;
    top: 5%;
}

.c22{
    box-sizing: content-box;
    position: absolute;
    font-size: 20px;
    font-weight: 900;
    background-color: darkblue;
    border-color: white;
    left: 42%;
    top: 85%;
    padding: 20px 40px;
    border-radius: 25px 25px 25px 25px;
}

.c22:hover{
    background-color: dimgrey;
    border-color: blue;
}

.courses{
    box-sizing: content-box;
    background-color: white;
    position: absolute;
    left: 25%;
    top: 100%;
    height: 60%;
    width: 50%;
    padding-bottom: 100px;
}

table:hover{
    border-color: blue;
}

table{
    box-sizing: content-box;
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
}

th{
    color: black;
}
td{
    color: black;
}


footer{
    
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: darkslategrey;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 200%;
    width: 100%
}

.myname{
    display: inline;
    font-size: 11px;
}

.fmo{
    display: inline;
    font-size: 11px;
    padding-right: 5px;
}

.smedia{
    padding: 5px;
    background-color: darkslategrey;
    text-decoration: none;
    color: black;
}

.smedia:hover{
    background-color: black;
    border-radius: 10px;
}